<!doctype html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  
  <title>MUNTER - Free Bootstrap 3 One Page Theme</title> 
  <meta name="description" content="BlackTie.co - Free Handsome Bootstrap Themes" />      
  <meta name="keywords" content="themes, bootstrap, free, templates, bootstrap 3, freebie,">
  <meta property="og:title" content="">

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fancybox/jquery.fancybox-v=2.1.5.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/font-awesome.min.css" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="css/style.css">  
  
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  
  
  <link rel="prefetch" href="images/zoom.png">
    
</head>

<body>
  <div class="navbar navbar-fixed-top" data-activeslide="1">
    <div class="container">
    
      <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav row">
          <li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="#slide-1" title="Next Section"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
          <li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="icon icon-user"></span> <span class="text">ABOUT ME</span></a></li>
          <li data-slide="8" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-3" title="Next Section"><span class="icon icon-briefcase"></span> <span class="text">EDUCATION</span></a></li>
          <li data-slide="4" class="col-12 col-sm-2"><a id="menu-link-4" href="#slide-4" title="Next Section"><span class="icon icon-gears"></span> <span class="text">PROCESS</span></a></li>
          <li data-slide="5" class="col-12 col-sm-2"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="icon icon-heart"></span> <span class="text">PROFESSIONAL</span></a></li>
          <li data-slide="6" class="col-12 col-sm-2"><a id="menu-link-6" href="#slide-6" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
        </ul>
        <div class="row">
          <div class="col-sm-2 active-menu"></div>
        </div>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->
  
  
  <!-- === Arrows === -->
  <div id="arrows">
    <div id="arrow-up" class="disabled"></div>
    <div id="arrow-down"></div>
    <div id="arrow-left" class="disabled visible-lg"></div>
    <div id="arrow-right" class="disabled visible-lg"></div>
  </div><!-- /.arrows -->
  
  
  <!-- === MAIN Background === -->
  <div class="hero">
  <div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
      <div id="home-row-1" class="row clearfix">
        <div class="col-12">
          <h1 class="font-thin">ANDREW <span class="font-semibold">TATE </span>PRICE</h1>
          <h4 class="font-thin">A <span class="font-semibold">Full-Stack Ruby Developer </span> navigating the virtual environment.</h4>
          <br>
          <br>
        </div><!-- /col-12 -->
      </div><!-- /row -->
      <div id="home-row-2" class="row clearfix">
        <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><%= image_tag 's02.png' %></div><span>PROFESSIONAL</span></div>
        <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><%= image_tag 's01.png' %></div><span>FREE THINKING</span></div>
        <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="8"><%= image_tag 's03.png' %></div><span>SAVVY</span></div>
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /slide1 -->
</div>
  
  <!-- === Slide 2 === -->
  <div class="slide story" id="slide-2" data-slide="2">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-thin">The reasonable man adapts himself to the world: <span class="font-semibold">the unreasonable one persists in trying to adapt the world to himself.</span> Therefore all progress depends on the <b>unreasonable man.</b></div>
        <div class="col-12 font-semibold">- George Bernard Shaw</div>
      </div><!-- /row -->
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div><!-- /row -->

      <div class="row subtitle-row">
        <div class="col-12 font-thin"> 
          <div class="col-md-4 circular"></div>
          <span class="font-semibold">Meet Tate Price</span></div>
          <span class="font-thin">Professional Athlete Turned Tech Salesmen Turned Entreprenuer</span></div>
      </div><!-- /row -->
      <div class="row content-row">
        <h1 class="col-12 head-font-semibold">
          Skills
        </h1>
        <!-- /col12 -->
        <div class="col-4">
          <p><i class="icon icon-laptop"></i></p>
          <h2 class="font-thin">Web <span class="font-semibold">Development</span></h2>
          <h4 class="font-thin">
                        • Ruby on Rails<br>
                        • Python<br>
                        • SQL<br>
                        • Java Script(OOJS)<br>
                        • AJAX<br>
                        • JSON<br>
                        • SASS<br>
                        • HTML5<br>
                        • CSS3<br>
                        • Bootstrap<br>
                        • jQuery<br>
                        • PostgreSQL<br>
          </h4>
        </div><!-- /col12 -->
        <div class="col-4">
          <p><i class="icon-lightbulb"></i></p>
          <h2 class="font-semibold">Innovation</h2>
          <h4 class="font-thin"> 
                        • User-Centered Design<br>
                        • Prototyping<br>
                        • User Research<br>
                        • Information Architecture<br>
                        • Usability Testing<br>
                        • User Personas<br>
                        • User Flows<br>
                        • User Interface Design<br>
                        • Web/Mobile/Tablet Design <br>
                        • Adobe Creative Suite<br>
              </h4>
        </div><!-- /col12 -->
        <div class="col-4">
          <p><i class="icon-fighter-jet"></i></p>
          <h2 class="font-semibold">Leadership</h2>
          <h4 class="font-thin"> 
                        • Presentations<br>
                        • Public Speaking<br>
                        • Account Management<br>
                        • Customer Service<br>
                        • Two time Collegiate All-American<br>
                        • Two time Collegiate Defense Captain<br>
          </h4>
        </div><!-- /col12 -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /slide2 -->
  
  <!-- === SLide 3 - Portfolio -->
  <div class="slide story" id="slide-8" data-slide="8">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 head-font-semibold1">Education</div>
    <!-- /row -->
        <div class="hr">&nbsp;</div>
      </div>
    </div><!-- /row -->
      <div class="row content-row">
          <div class="col-4"><%= image_tag 'cu.png', :class => 'img-responsive' %><br>
          <span class="head-font-semibold1">University of Colorado at Boulder</span>
          <br>
          <span class="head-font-thin1">
            Bachelor of Arts: Political Science; History<br>
            Graduated Phi Beta Kappa<br>
            Deans List: 2004, 2005, 2006<br>
            </span>
          </div>
      <!-- /row -->
         <div class="col-4"><%= image_tag 'du.png', :class => 'img-responsive' %><br>
          <span class="head-font-semibold1">University of Denver</span>
          <br>
          <span class="head-font-thin1">
            Graduate Studies: Software Design and Programming<br>
            </span>
          </div>
           <!-- /row -->
         <div class="col-4"><%= image_tag 'firehose.png', :class => 'img-responsive' %><br>
          <span class="head-font-semibold1">The Firehose Project</span>
          <br>
          <span class="head-font-thin1">
            Immersive Online Apprenticeship<br>
            Ruby on Rails<br>
            Algorithms and Logic<br>
            Front End Design<br>
            Group Projects<br>
            </span>
          </div>
       </div> 
     </div>
       <!-- /slide3 -->
  
  <!-- === Slide 4 - Process === -->
  <div class="slide story" id="slide-4" data-slide="4">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-thin">True refinement seeks <span class="font-semibold">simplicity.</span></div>
        <div class="col-12 font-semibolg">- Bruce Lee</div>
      </div><!-- /row -->
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div><!-- /row -->
      <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">Web Development is an iterative process through which many things can transpire. Is it imperative that <span class ="font-semibold">needs are understood, expectations are met </span>and all parties are <b>satisfied.</b> Below is my process...</div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
      <div class="row content-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-bolt"></i></p>
          <h2 class="font-thin">Listening to<br><span class="font-semibold" >your needs</span></h2>
          <h4 class="font-thin">The discovery process is perhaps the most important step.<br>
            <span class ="font-semibold">If you do not change direction, you may end up where you are heading.<br>
              - Lao Tzu</span></h4>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
          <p><i class="icon-picture"></i></p>
          <h2 class="font-thin">Wire<br><span class="font-semibold">Framing</span></h2>
          <h4 class="font-thin">We are all visual learners. Wireframes are the roadmap for success.<br>
            <span class="font-semibold">Drawing is like making an expressive gesture with the advantage of permanence.<br>
            - Henri Matisse</span></h4>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-cloud"></i></p>
          <h2 class="font-thin">Storming<br><span class="font-semibold">our brains</span></h2>
          <h4 class="font-thin">Cooperation ensures success. Feedback ensures transparency.
          <span class="font-semibold">Great discoveries and improvements invariably involve the cooperation of many minds.<br>
            - Alexander Graham Bell</span></h4>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
          <p><i class="icon-beaker"></i></p>
          <h2 class="font-thin">Getting<br><span class="font-semibold">there</span></h2>
          <h4 class="font-thin">There is no progress without effort. I will handle the heavy lifting.<br>
          <span class="font-semibold">I don’t like work, no man does, but I like what is in the work, the chance to find yourself.<br>
            - Joseph Conrad</span>
          </h4>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
          <p><i class="icon icon-gift"></i></p>
          <h2 class="font-thin">Delivering<br><span class="font-semibold">the product</span></h2>
          <h4 class="font-thin">And finally, voila! The product.<br>
            <span class="font-semibold">The true beauty in life is what one can give to another.<br>
            - Eleanor Roosevelt</span>
           </h4>
        </div><!-- /col12 -->
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /slide4 -->
  
  <!-- === Slide 5 === -->
  <div class="slide story" id="slide-5" data-slide="5">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-thin"><span class="font-semibold">Professional</span> experience</div>
      </div><!-- /row -->
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div><!-- /row -->
    <!-- /row -->
      <div class="row content-row">
        <div class="col-md-6">
          <%= link_to image_tag("VS.png"), "https://www.vincoskill.com" %><br>
          <h2 class="font-semibold">VincoSkill, Inc.<br>
            <span class="font-thin">August 2013 - Present</span></h2>
          <h3 class="font-semibold">Founder, CEO</h3>
          <h4 class="font-thin">
            • Created and diagramed full concept summary from idea to execution.<br>
            • Created algorithms for evaluation of player performance and efficiency of workouts.<br>
            • Designed all wire frames for site UI and created user stories for better product UX.<br>
          </div>
        <div class="col-md-6">
          <%= link_to image_tag('simceo.png'), "https://simceo.org" %><br>
          <h2 class="font-semibold">SimCEO, Inc.<br>
            <span class="font-thin">August 2014 - Present</span></h2>
          <h3 class="font-semibold">Head of Product Development</h3>
          <h4 class="font-thin">
            • Created wire frames for new product rollout.<br>
            • Communicated product needs with development team in order to ensure proper deliverables.<br>
            • Stress tested current code and debugged front end framework prior to eventual product rollout.<br>
          </div>
        <div class="col-md-6">
          <%= link_to image_tag("TrackVia.png"), "http://www.trackvia.com" %><br>
          <h2 class="font-semibold">TrackVia, Inc.<br>
            <span class="font-thin">October 2011 - July 2013</span></h2>
          <h3 class="font-semibold">Head of Eastern Sales & Product QA</h3>
          <h4 class="font-thin">
            • Created dynamic UI components for "build it yourself" application including drag & drop and asynchronous features.<br>
            • Oversaw largest expansion of company revenue as head of sales' team.<br>
            • Assisted in recreating TrackVia’s RESTful API for more efficient customer use by identifying and migrating legacy PERL code into a new PHP code base.<br>
          </div>
         <div class="col-md-6"><%= image_tag 'jumbo.png', :class => 'img-responsive' %><br>
          <h2 class="font-semibold">Jumbo, Inc.<br>
            <span class="font-thin">October 2008 - July 2011</span></h2>
          <h3 class="font-semibold">Founder & Head of Product</h3>
          <h4 class="font-thin">
            • Created artistic designs and oversaw development of product lifecycle.<br>
            • Developed and maintained online presence for new company.<br>
            • Worked with foreign developers and suppliers to oversee product.<br>
          </div>
        <div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /slide5 -->
  
  <!-- === Slide 6 / Contact === -->
  <div class="slide story" id="slide-6" data-slide="6">
    <div class="container">
      <div class="row title-row">
        <div class="col-12 font-light">Contact <span class="font-semibold">Information</span></div>
      </div><!-- /row -->
      <div class="row line-row">
        <div class="hr">&nbsp;</div>
      </div><!-- /row -->
      <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">You can find me literally anywhere.</div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
      <div id="contact-row-4" class="row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="_blank" href="#"><i class="icon icon-phone"></i></a></p>
          <span class="hover-text font-light">303-594-2508</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a href="mailto:priceat@gmail.com"><i class="icon icon-envelope"></i></a></p>
          <span class="hover-text font-light ">priceat@gmail.com</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="#" a href="https://www.linkedin.com/pub/tate-price/19/853/769"><i class="icon-linkedin-sign"></i></a></p>
          <span class="hover-text font-light ">LinkedIn</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target='#' href='http://github.com/priceat'><i class="icon-github"></i></a></p>
          <span class="hover-text font-light ">Github</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
          <p><a target="#" href="https://bitbucket.org/priceat/"><i class="icon-bitbucket"></i></a></p>
          <span class="hover-text font-light ">Bitbucket</span></a>
        </div>
        <!-- /col12 -->
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
      </div><!-- /row -->
      <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">Copyright 2015 - <b>Andrew Tate Price</b></div>
      </div>
    </div><!-- /container -->
  </div><!-- /Slide 6 -->
  
</body>

  <!-- SCRIPTS -->
  <script src="js/html5shiv.js"></script>
  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/jquery-migrate-1.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
  <script src="js/script.js"></script>
  
  <!-- fancybox init -->
  <script>
  $(document).ready(function(e) {
    var lis = $('.nav > li');
    menu_focus( lis[0], 1 );
    
    $(".fancybox").fancybox({
      padding: 10,
      helpers: {
        overlay: {
          locked: false
        }
      }
    });
  
  });
  </script>

</html>